
<h1><%= @movie.title %></h1>
  <div class ="poster"><img src="<%= @movie.poster_url %>" height="500" width="300"></div>
  <p><%= @movie.description %></p>
    <% if @movie.ratings.count > 0 %>
      <p>Movie Rating:  <%= @movie.average_rating %></p>
    <% else %>
  <p> Be The First To Rate This Movie </p>
    <% end %>
<% if current_user %>
<% if current_user.ratings.where("movie_id = ?", @movie.id).length > 0 %>
  <p>Your Rating:  <%= current_user.ratings.where("movie_id = ?", @movie.id).pluck(:spots)[0] %></p>
  <% else %>
  <p> You still Need to Rate This Movie</p>
<% end %>
<%end%>
<br>





<% if current_user %>
  <% if current_user.favorites.where("movie_id = ?", @movie.id).length > 0 %>

    <%= link_to "Remove From Favorites", movie_favorite_path(@movie.id, current_user.favorites.where("movie_id = ?", @movie.id).pluck(:id)[0]), method: :delete %>
  <% else %>

    <%= link_to "Add to Favorites", movie_favorites_path(@movie), method: :post %>
<% end %>

  <% if current_user.watchlists.where("movie_id = ?", @movie.id).length > 0 %>

    <%= link_to "Remove From Watchlist", movie_watchlist_path(@movie.id, current_user.watchlists.where("movie_id = ?", @movie.id).pluck(:id)[0]), method: :delete %>
  <% else %>
    <%= link_to "Add to Watchlist", movie_watchlists_path(@movie), method: :post %>

  <% end %>
<% end %>


<% if @movie.ratings.where(user_id: current_user.id).count > 0 %>
  <div class="updating-form">
    <%= form_for :rating, url: movie_rating_path(@movie, @movie.ratings.where(user_id: current_user.id).pluck(:id)[0]), method: :put do |f| %>
    <p>
      <%= f.select :rate, options_for_select([0, 1, 2, 3, 4, 5]) %>
      <%= f.submit "Change Rating" %>
    </p>
    <%end%>
  </div>
<% else %>
  <div class="rating-form">
    <%= form_for :rating, url: movie_ratings_path(@movie) do |f| %>
    <p>
      <%= f.select :rate, options_for_select([0, 1, 2, 3, 4, 5]) %>
      <%= f.submit "Rate" %>
    </p>
    <%end%>
  </div>
<% end %>





<br>
<% if @movie.trailer_url == nil %>
<p> Sorry, no trailer is available for this movie.</p>
<%else%>

<iframe width="560" height="315" src="<%= @movie.trailer_url.gsub(/(https:\D{2}www.youtube.com\D{1})(watch\D{1}v=)(.+)/, '\1embed/\3') %>" frameborder="0" allowfullscreen></iframe>
<%end%>

<h4> Add a comment </h4>
  <% if user_signed_in? %>
    <%= render 'comments/form' %>
  <% else %>
    <p>Please <%= link_to('Login', new_user_session_path)  %> in to leave a comment.</p>
  <% end %>

<ul>
<% @movie.comments.each do |comment| %>
<li><%= comment.user.first_name %> posted at: <%= comment.created_at%></li>
<li><%= comment.body %></li>
<li><%= link_to "Edit", edit_movie_comment_path(@movie.id, comment.id)%>
<%end%>
</ul>
