<!DOCTYPE html>
<html>
  <head>
    <title>MOOOvies</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <li>
        <%= link_to current_user.first_name, current_user %>
      </li>
      <li>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_user_session_path)  %>
      </li>
      <li>
        <%= link_to('Register', new_user_registration_path)  %>
      </li>
    <% end %>


  <h1><%= link_to root_path do %></h1>
     <%= image_tag "Logo.png" %>
     <% end %>




    <%= form_tag("/search/show", method: "get") do %>
      <%= label_tag(:m, "by movie:") %>
      <%= text_field_tag(:m) %>
      <%= select_tag :search, options_for_select(['Movie', 'Director']) %>
      <%= submit_tag("Search") %>
    <% end %>

    <%= form_tag("/search/show", method: "get") do %>
      <%= label_tag(:d, "by director:") %>
      <%= text_field_tag(:d) %>
      <%= submit_tag("Search") %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
