<!DOCTYPE html>
<html>
  <head>
    <title>MOOOvies</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render partial: 'shared/login_logout_header' %>

  <h1><%= link_to root_path do %></h1>
     <%= image_tag "Logo.png" %>
     <% end %>


    <%= form_tag("/search/show", method: "get") do %>
      <%= label_tag(:m, "Search:") %>
      <%= text_field_tag(:m) %>
      <%= select_tag :search, options_for_select(['Movie', 'Director'], params[:search]) %>
      <%= submit_tag("Search") %>
    <% end %>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
