<!DOCTYPE html>
<html>
  <head>
    <title>MOOOvies</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <nav class="navbar">
      <% if user_signed_in? %>

        <%= link_to current_user.first_name, current_user %>

        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      <% else %>
        <%= link_to('Login', new_user_session_path)  %>
        <%= link_to('Register', new_user_registration_path)  %>

      <% end %>
    </nav>
  </head>

  <body>

  <h1><%= link_to root_path do %></h1>
    <div class="cow-image">
       <%= image_tag "Logo.png" %>
       <% end %>
    </div>

    <div id="search-bar">
      <%= form_tag("/search/show", method: "get") do %>
        <%= select_tag :search, options_for_select(['Movie', 'Director'], params[:search]) %>
        <%= text_field_tag(:m) %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
